* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0%;
  padding: 0%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  text-transform: capitalize;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.imgPokemon {
  font-family: "Roboto Slab", serif;
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

/* Navigation */
nav {
  z-index: 100;
  top: 0;
  margin: 0%;
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.one {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(251, 203, 12);
  height: 100%;
}
.two {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(29, 68, 241);
  height: 100%;
}
.three {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(255, 4, 4);
  height: 100%;
}
nav a {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(255, 253, 253);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

nav a:hover,
nav a:focus {
  color: white;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

ul li {
  list-style: none;
  text-transform: capitalize;
  text-align: center;
  font-size: 15px;
  margin: 5px;
  padding: 10px;
  width: 140px;
  background: rgb(255, 211, 36);
  border: none;
  border-radius: 5px;
}

li:hover {
  transform: scale(1.1);
  color: white;
}

h3 {
  padding: 8px;
  border: none;
  text-align: center;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: capitalize;
  margin-top: 0%;
  margin-bottom: 5px;
  background: rgb(255, 211, 36);
  color: white;
}
.nombreHabilidades {
  text-align: center;
}
#movimientos {
  border: none;
  padding: 10px;
  margin: 0%;
  font-size: 30px;
  font-family: cursive;
}

h3:hover {
  transform: scale(1.1);
  color: white;
}

/* Clear pokemon button */
.clearPokemon {
  text-align: center;
  cursor: pointer;
  outline: none;
  padding: 8px;
  width: 100%;
  padding: 20px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background: rgb(255, 4, 4);
  border: none;
}
.clearPokemon:active {
  transform: translate(0, 0.3rem);
}

#imageCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
}

/* Responsive */
@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 850px) {
  .pokemonMoves {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  nav a {
    font-size: 15px;
    margin: 2px;
    text-align: center;
    letter-spacing: none;
  }

  ul li {
    width: 100px;
    font-size: 12px;
  }
  .clearPokemon {
    font-size: 15px;
  }
}

/* ------------------------ Footer --------------------- */
footer {
  margin-top: auto;
  left: 0;
  bottom: 0;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries footer */

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
