* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0%;
  padding: 0%;
  height: 100vh;
  background: url("../img/pages.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.container {
  display: flex;
}

h1 {
  text-transform: capitalize;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.imgPokemon {
  border-right: solid;
  border-color: rgb(239, 239, 240);
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
}
.pokemonMoves {
  flex-grow: 2;
}

/* Navigation */
nav {
  font-size: 20px;
  z-index: 100;
  position: static;
  letter-spacing: 3px;
  padding: 20px;
  width: 100vw;
  background: rgb(255, 211, 36);
  font-family: Verdana, sans-serif;
  margin: 0%;
  border: solid;
  border-width: 15px;
  border-color: rgb(15, 96, 210);
}

nav a {
  margin-right: 25px;
  color: black;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

nav a:hover,
nav a:focus {
  color: white;
}

ul li {
  list-style: none;
  display: inline-block;
  text-transform: capitalize;
  text-align: center;
  font-size: 17px;
  margin: 5px;
  padding: 6px;
  width: 150px;
  background: rgb(255, 211, 36);
  border: solid;
  border-width: 3px;
  border-radius: 3px;
  border-color: rgb(15, 96, 210);
}

li:hover {
  transform: scale(1.1);
  color: white;
}

h3 {
  width: 250px;
  padding: 8px;
  border: solid;
  border-width: 5px;
  border-radius: 3px;
  border-color: rgb(15, 96, 210);
  text-align: center;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: capitalize;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0%;
  margin-bottom: 5px;
  background: rgb(255, 211, 36);
}
.nombreHabilidades {
  text-align: center;
}
#habilidades {
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-width: 5px;
  border-radius: 3px;
  border-color: rgba(15, 96, 210, 0.689);
  width: fit-content;
  padding: 10px;
  background: rgba(255, 211, 36, 0.617);
}

h3:hover {
  transform: scale(1.1);
  color: white;
}

/* Clear pokemon button */
.clearPokemon {
  text-align: center;
  cursor: pointer;
  outline: none;
  padding: 8px;
  width: fit-content;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 15px;
  color: rgb(11, 10, 10);
  background: rgb(255, 211, 36);
  border-width: 3px;
  border-color: rgb(15, 96, 210);
  border-radius: 5px;
}
.clearPokemon:active {
  transform: translate(0, 0.3rem);
}

/* Responsive */
@media screen and (max-width: 1000px) {
  nav {
    font-size: 1.1rem;
    border-width: 5px;
    text-align: center;
    letter-spacing: 1px;
    padding: 8px;
  }
  body {
    background: url("../img/1000.gif");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 850px) {
  .imgPokemon {
    padding: 0px;
    justify-content: center;
  }
  .imgPokemon img {
    width: fit-content;
  }
  .pokemonMoves {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  nav a {
    font-size: 15px;
    margin: 2px;
    text-align: center;
    letter-spacing: none;
  }
  h1 {
    font-size: 30px;
  }
  .imgPokemon img {
    width: 20rem;
  }
  h3 {
    padding: 5px;
    border-width: 4px;
  }
  ul li {
    width: 100px;
    font-size: 12px;
  }
}
